@layer base {
  :root {
    --site-gutter: 5.625rem;
  }
  @media (max-width: 768px) {
    :root {
      --site-gutter: 1.5rem;
    }
  }

  body {
    @apply font-open bg-ttt-dark-grey text-ttt-white antialiased;
  }
  h1 {
    &.main-title{
      @apply font-cream text-ttt-white tracking-[.02em] text-[7.5rem];
    }
  }
  h2, h3 {
    @apply font-lato text-ttt-white;
  }
}