@use "variables" as *;
@use "mixins" as *;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-open bg-ttt-dark-grey text-ttt-white antialiased;
  }

  // On lie le tag h1 à la classe main-title pour la cohérence
  h1 {
    &.main-title {
      @include main-title-styles;
    }
  }

  h2 {
    font-size: var(--h2-size);
    @apply font-lato text-ttt-white mb-5 font-bold text-center tracking-widest;
  }

  h3 {
    @apply font-lato text-ttt-white font-bold;
  }

  nav a {
    @apply uppercase tracking-wider font-medium;
  }
  section {
    @apply py-5 lg:py-10;
  }
}