@layer base {
  /* Desktop */

  :root {
    /* Gouttière Navbar (Logo/Menu) */
    --navbar-gutter: 5.625rem;
    /* Gouttière Contenu (Header/Sections) */
    --content-gutter: 15rem;
  }

  /* tablette */
  @media (max-width: 1024px) {
    :root {
      --content-gutter: 3rem;
      --navbar-gutter: 3rem;
    }
  }

  /* Mobile */
  @media (max-width: 768px) {
    :root {
      --content-gutter: 1.5rem;
      --navbar-gutter: 1.5rem;
    }
  }

  body {
    @apply font-open bg-ttt-dark-grey text-ttt-white antialiased;
  }
  h1 {
    &.main-title{
      @apply font-cream text-ttt-white tracking-[.02em] text-[4rem] md:text-[7.5rem] leading-tight;
    }
  }
  h2, h3 {
    @apply font-lato text-ttt-white;
  }
}