@use "variables" as *;
@use "mixins" as *;

@layer base {
  .main-title {
    @include main-title-styles;
  }

  .subtitle {
    font-size: var(--sub-size);
    @apply font-semibold tracking-[1.3px] leading-snug font-lato;
  }

  p {
    font-size: var(--p-size);
    @apply leading-relaxed font-lato;
  }
}