/* Breakpoints */
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1440px;

:root {
  /* Mobile (par défaut) */
  --content-gutter: 1.5rem;
  --navbar-gutter: 1.5rem;

  /* Tablette */
  @media (min-width: #{$breakpoint-md}) {
    --content-gutter: 3rem;
    --navbar-gutter: 3rem;
  }

  /* Desktop */
  @media (min-width: #{$breakpoint-lg}) {
    --content-gutter: 15rem;
    --navbar-gutter: 5.625rem;
  }
}