@use "variables";
@use "base";
@use "typography";
@use "components";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ttt-container {
    @apply flex flex-col items-center justify-center;
  }
}