DOMAIN=the-tip-top.front.dev.local
NUXT_PUBLIC_SITE_URL=http://the-tip-top.front.dev.local
NUXT_API_BASE_URL=http://ttt-api
NUXT_PUBLIC_API_BASE_URL=http://the-tip-top.api.dev.local
NUXT_SESSION_PASSWORD=change-me-in-production